* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --hover-easing: cubic-bezier(.455, .03, .515, .955);
  --spacing-base: 100;
  --spacing-base-px: calc(var(--spacing-base) * 1px);
  --spacing-base-vw: calc(var(--spacing-base) * .079653vw);
  --spacing-section-padding-block: min(var(--spacing-base-px), var(--spacing-base-vw));
  --spacing-section-padding-block-2: min(calc(var(--spacing-base-px) * .875), calc(var(--spacing-base-vw) * .875));
  --spacing-section-padding-block-3: min(calc(var(--spacing-base-px) * .75), calc(var(--spacing-base-vw) * .75));
  --spacing-section-padding-block-4: min(calc(var(--spacing-base-px) * .5), calc(var(--spacing-base-vw) * .5));
  --spacing-section-padding-block-5: min(calc(var(--spacing-base-px) * .375), calc(var(--spacing-base-vw) * .375));
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-surface-1: #fff;
    --color-bg-surface-2: #F1F5F8;

    --color-text-primary: #202527;
    --color-text-secondary: #475054;
    --color-text-tertiary: #5D707D;
    --color-text-interactive: #0C8BE7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-surface-1: #202527;
    --color-bg-surface-2: #1B1E20;

    --color-text-primary: #FFFFFF;
    --color-text-secondary: #CEDAE2;
    --color-text-tertiary: #96A5AF;
    --color-text-interactive: #40A5EE;
  }
}

a {
  color: var(--color-text-interactive);
  text-decoration: none;
}

body {
  padding-block-start: var(--spacing-section-padding-block);
  margin-block: 0;
  margin-inline: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--color-bg-surface-1);
}

.hero-header {
  margin-inline: auto;
  width: min(85%, 912px);
  padding-block-end: var(--spacing-section-padding-block);
}

main {
  padding-block: var(--spacing-section-padding-block-3);
  background-color: var(--color-bg-surface-2);
}

main > * {
  margin-inline: auto;
  width: min(85%, 912px);
}

h1 {
  font-weight: 400;
  font-size: min(34px, 6vw);
  line-height: 135%;
  color: var(--color-text-primary);
  margin-block-start: 0;
  margin-block-end: min(16px, 2vw);
}

p {
  color: var(--color-text-tertiary);
}

.hero-description {
  column-count: 2;
  column-gap: 24px;
}

.hero-description p {
  display: contents;
  line-height: 28px;
  font-size: min(18px, 4vw);
}

.social-media-links {
  margin-block-start: max(24px, 2.275vw);
  margin-block-end: 0;
  padding-inline: 0;
  padding-block: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.social-media-link {
  display: block;
  block-size: 21px;
  inline-size: 21px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-size: 200%;
  background-position: center;
  transition: .1s transform var(--hover-easing);
}

.social-media-link:hover {
  transform: translateY(-2px);
}

.social-media-link:active {
  transform: translateY(1px);
}

.twitter-link {
  background-image: url('../assets/logo-twitter.png');
}

.linkedin-link {
  background-image: url('../assets/logo-linkedin.png');
}

.dribbble-link {
  background-image: url('../assets/logo-dribbble.png');
}

.github-link {
  background-image: url('../assets/logo-github.png');
}

@media (prefers-color-scheme: dark) {
  .github-link {
    filter: invert(1);
  }
}

.youtube-link {
  background-image: url('../assets/logo-youtube.png');
}

.work-heading {
  margin-block: 0;
  margin-block-end: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-secondary)
}

.work-description {
  margin-block: 0;
}

.work-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(32px, 5vw);
  grid-template-rows: auto;
}

.work-example {
  block-size: min(270px, 25vw);
  border-radius: 6px;
  background-color: var(--color-bg-surface-1);
  overflow: hidden;
  box-shadow: 
    0px 21px 30px -20px rgba(0, 0, 0, 0.15), 
    0px 15px 20px -13px rgba(0, 0, 0, 0.15), 
    0px 1px 0px rgba(0, 0, 0, 0.13), 
    0px 3px 0px rgba(0, 0, 0, 0.06), 
    inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  transition: 
    .125s transform var(--hover-easing),
    .125s box-shadow var(--hover-easing);
}

.work-example:hover {
  transform: translateY(-2px);
}

.work-example:active {
  transform: translateY(1px);
}

.one-core-toolbox-preview {
  background: linear-gradient(90deg, #0C74DF -19.91%, #1251A8 39.42%, #102969 100%);
}

.work-examples-header {
  margin-inline: 0;
  margin-block-end: var(--spacing-section-padding-block-4);
}

.work-example-heading {
  margin-block: 0;
  margin-block-end: 2px;
  font-size: min(24px, 4.5vw);
  font-weight: 500;
  text-align: center;
}

.work-example-description {
  margin-block: 0;
  margin-block-end: min(24px, 3vw);
  font-size: min(18px, 3.5vw);
  text-align: center;
}

.heading-content {
  padding-inline: 16px;
}

a.work-example-link {
  display: flex;
  block-size: 100%;
  flex-direction: column;
  padding-block-start: min(40px, 6vw);
  text-decoration: none;
}

.work-example-preview {
  object-fit: cover;
  width: 100%;
  flex-grow: 1;
  transition: .2125s transform var(--hover-easing);
}

.work-example:hover .work-example-preview {
  transform: scale(1.005) translateY(-3px);
}

.one-core-toolbox-preview:hover .work-example-preview {
  transform: scale(.905) translateY(-1px);
}

.one-core-toolbox-preview .work-example-preview {
  margin-inline: auto;
  transform: scale(.9) translateY(4px);
  position: relative;
  top: 8px;
}

.one-core-toolbox-preview .work-example-link {
  background-image: url(../assets/one-core-toolbox-logo.png);
  background-position: right top;
  background-size: 32%;
  background-repeat: no-repeat;
}

.work-example h3 {
  color: #fff;
}

.one-core-toolbox-preview p {
  color: #9FC5FF
}

.prose-linter-preview {
  background: linear-gradient(180deg, #242E33 0%, rgba(4, 9, 11, 0.99) 65.81%);
}

.prose-linter-preview .work-example-preview {
  width: 86%;
  padding-top: 16px;
  margin-inline: auto;
}

.prose-linter-preview p {
  color: #959EAA;
}

.in-app-docs-preview {
  background: radial-gradient(145.82% 102.41% at 51.4% 102.23%, #70D3AF 0%, #007E8A 31.21%, #052A3A 88.15%);
}

.in-app-docs-preview .work-example-description {
  color: #ADCCD2F7;
}

.infra-geo-ops-preview {
  background-color: #FDFCF9;
  background-image: linear-gradient(180deg, #FDFCF9 30.22%, rgba(255, 255, 255, 0) 60.15%), url(../assets/infra-geo-ops-preview-bg.png);
}

.infra-geo-ops-preview .work-example-heading {
  color: #062B3B;
}

.infra-geo-ops-preview .work-example-description {
  color: #838179;
}

.infra-geo-ops-preview .work-example-preview {
  width: 300px;
  padding-top: 16px;
  margin-inline: auto;
  position: relative;
  bottom: 10px;
}

@media screen and (max-width: 800px) {
  .hero-description {
    column-count: 1;
  }

  .hero-description p {
    line-height: 160%;
  }

  .superfluous-description {
    display: none;
  }
}

@media screen and (max-width: 724px) {
  .work-examples {
    display: flex;
    flex-direction: column;
  }
  
  .work-example {
    block-size: min(300px, 40vw);
  }

  .work-examples-header {
    margin-block-end: var(--spacing-section-padding-block-3);
  }
}

@media screen and (max-width: 480px) {
  .hero-description p {
    line-height: 140%;
  }   

  .infra-geo-ops-preview {
    background-color: #FDFCF9;
    background-image: linear-gradient(180deg, #FDFCF9 40.22%, rgba(255, 255, 255, 0) 70.15%), url(../assets/infra-geo-ops-preview-bg.png);
  }
}