* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-surface-1: #fff;
    --color-bg-surface-2: #F1F5F8;

    --color-text-primary: #202527;
    --color-text-secondary: #475054;
    --color-text-tertiary: #5D707D;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-surface-1: #202527;
    --color-bg-surface-2: #1B1E20;

    --color-text-primary: #FFFFFF;
    --color-text-secondary: #CEDAE2;
    --color-text-tertiary: #96A5AF;
  }
}

body {
  padding-block-start: 5vw;
  margin-block: 0;
  margin-inline: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--color-bg-surface-1);
}

header {
  margin-inline: auto;
  width: min(85%, 912px);
  padding-block-end: 5vw;
}

main {
  padding-block: 60px;
  background-color: var(--color-bg-surface-2);
}

main > * {
  margin-inline: auto;
  width: min(85%, 912px);
}

h1 {
  font-weight: 400;
  font-size: min(34px, 6vw);
  line-height: 135%;
  color: var(--color-text-primary);
  margin-block-end: 16px;
}

p {
  color: var(--color-text-tertiary);
}

.hero-description {
  column-count: 2;
  column-gap: 24px;
}

.hero-description p {
  display: contents;
  line-height: 28px;
  font-size: min(18px, 4vw);
}

@media screen and (max-width: 800px) {
  .hero-description {
    column-count: 1;
  }

  .superfluous-description {
    display: none;
  }
}

.social-media-links {
  margin-block-start: 24px;
  margin-inline-start: -12px;
  padding-inline: 0;
  padding-block: 0;
  display: flex;
  list-style-type: none;
}

.social-media-link {
  display: block;
  block-size: 45px;
  inline-size: 45px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-size: 100%;
}

.twitter-link {
  background-image: url('../images/logo-twitter.png');
}

.linkedin-link {
  background-image: url('../images/logo-linkedin.png');
}

.dribbble-link {
  background-image: url('../images/logo-dribbble.png');
}

.github-link {
  background-image: url('../images/logo-github.png');
}

@media (prefers-color-scheme: dark) {
  .github-link {
    filter: invert(1);
  }
}

.youtube-link {
  background-image: url('../images/logo-youtube.png');
}

.work-heading {
  margin-block: 0;
  margin-block-end: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-secondary)
}

.work-description {
  margin-block: 0;
}

.work-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  grid-template-rows: auto;
}

.work-example {
  block-size: min(270px, 25vw);
  border-radius: 6px;
  background-color: var(--color-bg-surface-1);
  overflow: hidden;
  box-shadow: 
    0px 21px 30px -20px rgba(0, 0, 0, 0.25), 
    0px 15px 20px -13px rgba(0, 0, 0, 0.2), 
    0px 1px 0px rgba(0, 0, 0, 0.13), 
    0px 3px 0px rgba(0, 0, 0, 0.06), 
    inset 0px 1px 0px rgba(255, 255, 255, 0.08);
}

.one-core-toolbox-preview {
  background: linear-gradient(90deg, #0C74DF -19.91%, #1251A8 39.42%, #102969 100%);
}

.work-examples-header {
  margin-inline: 0;
}

.work-example-heading {
  margin-block: 0;
  margin-block-end: 2px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.work-example-description {
  margin-block: 0;
  margin-block-end: 24px;
  font-size: 18px;
  text-align: center;
}

.heading-content {
  padding-inline: 16px;
}

a.work-example-link {
  display: flex;
  block-size: 100%;
  flex-direction: column;
  padding-block-start: 40px;
  text-decoration: none;
}

.work-example-preview {
  object-fit: contain;
  flex-grow: 1;
}

.one-core-toolbox-preview .work-example-preview {
  position: relative;
  top: 12px;
}

.one-core-toolbox-preview .work-example-link {
  background-image: url(../images/one-core-toolbox-logo.png);
  background-position: right top;
  background-size: 32%;
  background-repeat: no-repeat;
}

.work-example h3 {
  color: #fff;
}

.one-core-toolbox-preview p {
  color: #9FC5FF
}

.prose-linter-preview {
  background: linear-gradient(180deg, #242E33 0%, rgba(4, 9, 11, 0.99) 65.81%);
}

.prose-linter-preview .work-example-preview {
  width: 85%;
  padding-top: 16px;
  margin-inline: auto;
}

.prose-linter-preview p {
  color: #959EAA;
}

.in-app-docs-preview {
  background: radial-gradient(145.82% 102.41% at 51.4% 102.23%, #70D3AF 0%, #007E8A 31.21%, #052A3A 88.15%);
}

.in-app-docs-preview .work-example-description {
  color: #ADCCD2F7;
}

.infra-geo-ops-preview {
  background-color: #FDFCF9;
  background-image: linear-gradient(180deg, #FDFCF9 30.22%, rgba(255, 255, 255, 0) 60.15%), url(../images/infra-geo-ops-preview-bg.png);
}

.infra-geo-ops-preview .work-example-heading {
  color: #062B3B;
}

.infra-geo-ops-preview .work-example-description {
  color: #838179;
}

.infra-geo-ops-preview .work-example-preview {
  width: 300px;
  padding-top: 16px;
  margin-inline: auto;
  position: relative;
  bottom: 10px;
}

@media screen and (max-width: 724px) {
  .work-examples {
    display: flex;
    flex-direction: column;
  }
  
  .work-example {
    block-size: min(300px, 40vw);
  }
}