:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-surface-1: #fff;
    --color-bg-surface-2: #F1F5F8;

    --color-text-primary: #202527;
    --color-text-secondary: #5D707D;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-surface-1: #fff;
    --color-bg-surface-2: #F1F5F8;

    --color-text-primary: #202527;
    --color-text-secondary: #1B1E20;
  }
}

body {
  padding-block: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  margin-inline: auto;
  width: 912px;
  padding-block-end: 60px;
}

main {
  padding-block: 60px;
  background-color: var(--color-bg-surface-2);
}

main > * {
  margin-inline: auto;
  width: 912px;
}

h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 135%;
  color: var(--color-text-primary);
  margin-block-end: 16px;
}

p {
  color: var(--color-text-secondary);
}

.hero-description {
  column-count: 2;
  column-gap: 24px;
}

.hero-description p {
  display: contents;
  line-height: 28px;
  font-size: 18px;
}

.social-media-links {
  margin-block-start: 24px;
  margin-inline-start: -12px;
  padding-inline: 0;
  padding-block: 0;
  display: flex;
  list-style-type: none;
}

.social-media-link {
  display: block;
  block-size: 45px;
  inline-size: 45px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-size: 100%;
}

.twitter-link {
  background-image: url('../images/logo-twitter.png');
}

.linkedin-link {
  background-image: url('../images/logo-linkedin.png');
}

.dribbble-link {
  background-image: url('../images/logo-dribbble.png');
}

.github-link {
  background-image: url('../images/logo-github.png');
}

.youtube-link {
  background-image: url('../images/logo-youtube.png');
}