---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Daniel Golden - UI Designer & Engineer",
  description = "UI Designer & Engineer at Stripe",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Crimson+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MC2BCP6P7E"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args: unknown[]) {
        (window.dataLayer as unknown[]).push(args);
      }
      gtag("js", new Date());
      gtag("config", "G-MC2BCP6P7E");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
